<div class="row">
    <div (click)="sort(oszlop)" class="col" *ngFor="let oszlop of oszlopok">
        {{oszlop.text}}
        <i *ngIf="oszlop.rendez==1" class="bi bi-sort-up"></i>
        <i *ngIf="oszlop.rendez==2" class="bi bi-sort-down"></i>
    </div>
    <div class="col" >
        Műveletek
    </div>
</div>


<div *ngFor="let hibajegy of (hibajegyek|search:szo)|sort:rendezes:rendezes.rendez" class="row">
    <div class="col" *ngFor="let oszlop of oszlopok">
       <ng-container [ngSwitch]="oszlop.type">


        <select *ngSwitchCase="'select'" class="form-select" [(ngModel)]="hibajegy[oszlop.key]">
            <option *ngFor="let ertek of oszlop.values"
            [selected]="ertek.value==hibajegy[oszlop.key]"
            [value]="ertek.value">
                {{ertek.text}}
            </option>
            
          </select>
        
        <ng-container *ngSwitchCase="'felelos'">
            <ng-container>
                <select (change)="changeFelelos($event, hibajegy)" *ngIf="isSuperAdmin; else nemAdmin" class="form-select" [(ngModel)]="hibajegy[oszlop.key]">
                    <option *ngFor="let informatikus of informatikusok"
                    [selected]="informatikus.uid==hibajegy[oszlop.key]"
                    [value]="informatikus.uid">
                        <!-- {{informatikus.email}} -->
                        {{informatikus.displayName}}
                    </option>
                    
                  </select>

                  <ng-template  #nemAdmin >
                    <p *ngIf="informatikusok">{{findUser(hibajegy[oszlop.key]).diplayName}}</p>
                  </ng-template>
            </ng-container>

        </ng-container>

       

          <div *ngSwitchDefault>
            {{hibajegy[oszlop.key]}}
          </div>

       </ng-container>
       
 
    </div>
    <div class="col" >
        <button (click)="save(hibajegy)" type="button" class="btn btn-primary">Ment</button>
        <button [disabled]="!isSuperAdmin" type="button" class="btn btn-primary">Töröl</button>
    </div>
</div>
